.logo-img {
    width: 3em;
    height: 3em;
}
.top{
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 2em ;
    height: 2em ;
}

.deltaimg{
    width: 100vw;
}

.timeline-img{
    width: 20em;
}
.aboutp{
    border-radius: 50%;
    width: 6em;
}